<a href="https://colab.research.google.com/github/jmendezlt/Julio_Mendez_Data_Mining/blob/main/Julio_Mendez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ACTIVIDAD 2

Cargamos el data set

In [ ]:
from google.colab import files
files.upload()

In [ ]:
import pandas as pd
import numpy as np

file1 = 'tumBD4.csv'

In [ ]:
alumnos = pd.read_csv(file1) 
alumnos.head()

In [ ]:
alumnos

# Nueva secci√≥n

**Missing Values**

Para identifica los datos incompletos, se va a usar isnull para identificar que datos individuales son *nulos*:

In [ ]:
alumnos.isnull()

Vamos a calcular la cantidad de missing values por cada columna:

In [ ]:
alumnos.isnull().sum()

In [ ]:
alumnos[alumnos.isnull().any(axis=1)]

Eliminamos la columna 23 cuya data no aporta en el analisis

In [ ]:
alumnos.drop(alumnos.columns[[23]], axis=1, inplace=True)

In [ ]:
alumnos.isnull().sum()

In [ ]:
alumnos.dropna(subset=[23], how='all')